/* Variables */
:root {
  /* Colors */
  --primary-color: #3899ee;
  --secondary-color: #38e2ee;
  --white: #fff;
  --black: #000;

  /* Webpage main background */
  --main-background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );

  /* Card background */
  --secondary-background: transparent;

  /* Shadow */
  --shadow-default:
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08), 0 4px 10px rgba(0, 0, 0, 0.05);

  /* Card paddings */
  --card-Y-pad: 125px;
  --card-X-pad: 180px;

  /* Card border-radius */
  --card-border-radius: 16px;

  /* Card border */
  --card-border: 2px solid var(--white);
}

body {
  background: var(--main-background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;

  box-shadow: var(--shadow-default);
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  padding: var(--card-Y-pad) var(--card-X-pad);

  background: var(--secondary-background);
}

/* Buttons */
.button {
  transition:
    box-shadow 0.3s,
    transform 0.3s;

  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.08);

  border-radius: 10px;
  padding: 2.4rem 4.8rem;

  background: var(--white);
  font-size: 3.6rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.button-elevated:hover {
  transform: scale(1.05);
  box-shadow:
    0 10px 24px rgba(0, 0, 0, 0.18),
    0 6px 12px rgba(0, 0, 0, 0.12);
}

.button-lowered {
  box-shadow:
    0 10px 24px rgba(0, 0, 0, 0.18),
    0 6px 12px rgba(0, 0, 0, 0.12);
}

.button-lowered:hover {
  transform: scale(0.95);
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.08);
}

.button-moved-up {
  box-shadow:
    0 10px 24px rgba(0, 0, 0, 0.18),
    0 6px 12px rgba(0, 0, 0, 0.12);
}

.button-moved-up:hover {
  box-shadow:
    0 20px 24px rgba(0, 0, 0, 0.18),
    0 12px 12px rgba(0, 0, 0, 0.12);
  transform: translateY(-10px);
}
