/* Variables */
:root {
  /* Colors */
  --primary-color: #03a9f4;

  /* Spacing scale */
  --space-1: 0.4rem; /* 4px  */
  --space-2: 0.8rem; /* 8px  */
  --space-3: 1.2rem; /* 12px */
  --space-4: 1.6rem; /* 16px */
  --space-5: 2.4rem; /* 24px */
  --space-6: 3.2rem; /* 32px */
  --space-7: 4.8rem; /* 48px */
  --space-8: 6.4rem; /* 64px */
  --space-9: 9.6rem; /* 96px */

  /* Corner radiuses */
  --radius-sm: 0.4rem; /* 4px */
  --radius-md: 0.8rem; /* 8px */
  --radius-lg: 1.6rem; /* 16px */
  --radius-xl: 3.2rem; /* 32px */
  --radius-full: 9999px; /* Circle */
}

/* Main styles */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.dots {
  display: flex;
  gap: var(--space-5);
}

.dots__dot {
  animation: bounce 1s ease-in-out infinite;
  border-radius: var(--radius-full);
  width: 3.2rem;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-color);
}

.dots__dot--second {
  animation-delay: 0.2s;
}

.dots__dot--third {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-25px) scale(1.25);
  }
  75% {
    transform: translateY(0) scale(1);
  }
  100% {
  }
}
