/* Variables */
:root {
  /* Colors */
  --font-color: #0e0e38;
  --bg-color-primary: #d8dae2;
  --bg-color-secondary: #eff0f1;
  --circle-background: #e5e7f0;
  --white: #fff;
  --black: #000;

  /* Spacing scale from layout */
  /* 8px 16px 24px 56px 62px */
  --space-1: 0.8rem;
  --space-2: 1rem;
  --space-3: 1.6rem;
  --space-4: 2.4rem;
  --space-5: 5.6rem;
  --space-6: 6.2rem;

  /* Typography scale from layout */
  /* 16px 24px 32px */
  --font-sm: 1.6rem;
  --font-base: 2.4rem;
  --font-lg: 3.2rem;
}

/* General */

body {
  background-color: var(--bg-color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-base);
  font-weight: 500;
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

img {
  display: block;
  width: 100%;
}

/* Circles on the background */
.circle {
  position: absolute;
  z-index: -10;
  border-radius: 50%;
  width: 300px;
  aspect-ratio: 1 / 1;
  background-color: var(--circle-background);
}

.circle-1 {
  top: 0;
  right: 400px;
}

.circle-2 {
  left: 400px;
  bottom: 0;
  width: 420px;
}

/* Gallery */
.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.gallery {
  box-shadow: 0 76px 27px rgb(6, 27, 82, 0.1);
  border-radius: 26px;
  padding: var(--space-6);
  max-width: 1563px;
  background-color: var(--bg-color-secondary);
}

.gallery__heading {
  margin-bottom: var(--space-4);
  font-family: Merriweather, serif;
  font-size: var(--font-lg);
  font-weight: 700;
}

.gallery__tag-list {
  margin-bottom: var(--space-5);
  display: flex;
  column-gap: var(--space-1);
}

.gallery__tag-link {
  display: inline-block;
  border-radius: 8px;
  padding: var(--space-2);
  background-color: var(--white);
  font-size: var(--font-sm);
  font-weight: 500;
}

/* Gallery cards */
.gallery__cards {
  display: flex;
  gap: var(--space-6);
}

.gallery__card {
  border-radius: 32px;
  padding: var(--space-4);
  width: 440px;
  background-color: var(--white);
}

.gallery__main-image {
  margin-bottom: var(--space-3);
}

.gallery__sub-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-4);
}

.gallery__category {
  display: flex;
  justify-content: space-between;
}

.gallery__category-icon {
  flex-shrink: 0;
  margin-right: var(--space-1);
  width: 20px;
}

.gallery__category-count {
  display: flex;
  align-items: center;
  font-size: var(--font-sm);
}
