<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS reset file -->
    <link rel="stylesheet" href="./styles/reset.css" />
    <!-- Main CSS file -->
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Hamburger to X</title>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <div class="hamburger">
          <div class="hamburger__bar hamburger__bar--first"></div>
          <div class="hamburger__bar hamburger__bar--second"></div>
          <div class="hamburger__bar hamburger__bar--third"></div>
        </div>
      </div>
    </main>

    <script src="src/main.js"></script>
  </body>
</html>
