/* Variables */
:root {
  /* Colors */
  --primary-color: #ee6338;
  --primary-darker: #ee4d38;
  --normal-text-color: #1a194d;
  --light-text-color: #62618f;
  --main-background-color: #e8e8fd;
  --sidebar-background-color: #f8f8ff;
  --white: #fff;
  --black: #000;

  /* Typography scale */
  --font-xs: 1.2rem; /* 12px */
  --font-sm: 1.4rem; /* 14px */
  --font-base: 1.6rem; /* 16px */
  --font-md: 2rem; /* 20px */
  --font-lg: 2.5rem; /* 25px */
  --font-xl: 3.2rem; /* 32px */
  --font-2xl: 4rem; /* 40px */
  --font-3xl: 5rem; /* 50px */
  --font-4xl: 6.4rem; /* 64px */

  --font-5xl: 8rem; /* 80px */
  --font-6xl: 10rem; /* 100px */

  /* Spacing scale */
  --space-1: 0.4rem; /* 4px  */
  --space-2: 0.8rem; /* 8px  */
  --space-3: 1.2rem; /* 12px */
  --space-4: 1.6rem; /* 16px */
  --space-5: 2.4rem; /* 24px */
  --space-6: 3.2rem; /* 32px */
  --space-7: 4.8rem; /* 48px */
  --space-8: 6.4rem; /* 64px */
  --space-9: 9.6rem; /* 96px */

  /* Corner radiuses */
  --radius-sm: 0.4rem; /* 4px */
  --radius-md: 0.8rem; /* 8px */
  --radius-lg: 1.6rem; /* 16px */
  --radius-xl: 3.2rem; /* 32px */
  --radius-full: 9999px; /* Circle */

  /* Container scale */
  --container-xs: 48rem; /* 480px  */
  --container-sm: 64rem; /* 640px  */
  --container-md: 80rem; /* 800px  */
  --container-lg: 100rem; /* 1000px */
  --container-xl: 120rem; /* 1200px */
  --container-2xl: 144rem; /* 1440px */

  /* Line-height scale */
  --lh-none: 1;
  --lh-tight: 1.15;
  --lh-snug: 1.3;
  --lh-normal: 1.45;
  --lh-relaxed: 1.6;
  --lh-loose: 1.8;

  /* Shadow */
  --shadow-elevation: 0 8px 19px #dfdffd;
  --window-shadow: 0 49px 32px -19px rgba(56, 56, 150, 0.15);
}

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-base);
  background-color: var(--main-background-color);
  color: var(--normal-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utility classes */

.hidden {
  display: none !important;
}

/* Block Utility classes */
.app-content {
  padding: var(--space-8);
}

.section-header {
  margin-bottom: var(--space-8);
}

.section-header__title {
  font-size: var(--space-6);
  font-weight: 700;
}

/* Main Styles */
.account-window {
  display: flex;
  overflow: hidden;
  margin: 4rem auto 8rem;
  box-shadow: var(--window-shadow);
  width: 100%;
  max-width: 130rem;
  border-radius: var(--radius-xl);
}

/* Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: var(--space-6) var(--space-4);
  width: 26rem;
  background-color: var(--sidebar-background-color);
}

/* Sidebar profile */
.sidebar__profile {
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  grid-template-areas:
    'avatar name'
    'avatar tag';
  gap: var(--space-1) var(--space-4);
  padding: var(--space-6) 0 var(--space-7);
  margin: 0 auto;
  align-items: center;
}

.sidebar__profile-avatar {
  grid-area: avatar;
  aspect-ratio: 1 / 1;
}

.sidebar__profile-avatar img {
  border-radius: var(--radius-lg);
}

.sidebar__profile-name {
  grid-area: name;
  align-self: end;
  font-weight: 700;
}

.sidebar__profile-tag {
  grid-area: tag;
  align-self: start;
  font-size: var(--font-sm);
}

/* Sidebar navigation */
.sidebar__nav-list {
  display: flex;
  flex-direction: column;
  color: var(--light-text-color);
}

.sidebar__nav-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-3);
  transition: color 0.2s;
  outline: none;
  border: none;
  padding: var(--space-2) var(--space-2) var(--space-2) var(--space-5);
  background-color: transparent;
  cursor: pointer;
  color: var(--light-text-color);
  font-weight: 400;
}

.sidebar__nav-btn--current {
  color: var(--normal-text-color);
}

.sidebar__nav-btn--current::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--radius-xl);
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
}

.sidebar__nav-btn svg {
  width: 24px;
  aspect-ratio: 1 / 1;
  stroke: currentColor;
  color: inherit;
}

.sidebar__nav-btn:hover {
  color: var(--normal-text-color);
}

/* Logout button */
.sidebar__logout {
  margin-top: auto;
}

/* App content window styles */
main.app {
  width: 100%;
  background: linear-gradient(to top left, #f8f8f8, #fff);
}

/* Billing Styles */

.billing__content {
  display: grid;
  grid-template-columns: 1fr 30rem;
  column-gap: var(--space-8);
}

/* Right side */
/* History order */

.billing__order-history {
  margin-bottom: var(--space-8);
}

.billing__subtitle {
  margin-bottom: var(--space-6);
}

.billing__subtitle-heading {
  margin-bottom: var(--space-1);
  font-size: var(--font-base);
  font-weight: 700;
}

.billing__subtitle-description {
  font-size: var(--font-sm);
  color: var(--light-text-color);
}

/* Table */
.billing__history-table {
  width: 100%;
  margin-bottom: var(--space-4);
  font-weight: 500;
  transform: translateX(calc(var(--space-4) * -1));
}

.billing__history-head {
  font-size: var(--font-sm);
  text-align: left;
  color: var(--light-text-color);
}

.billing__history-head .billing__history-cell {
  padding: var(--space-2) var(--space-4);
}

.billing__history-body .billing__history-row {
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  border-radius: var(--radius-md);
}

.billing__history-body .billing__history-row:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 19px #dfdffd;
}

.billing__history-body .billing__history-cell {
  padding: var(--space-4);
}

.billing__methods-item-remove-btn,
.billing__btn--download {
  transition:
    background-color 0.3s,
    transform 0.1s;
  border-radius: var(--radius-md);
  border: 1px solid #cbcbd9;
  padding: var(--space-2) var(--space-4);
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-base);
  color: var(--normal-text-color);
}

.billing__methods-item-remove-btn:active,
.billing__btn--download:active {
  transform: scale(0.95);
}

.billing__methods-item-remove-btn:hover,
.billing__btn--download:hover {
  background-color: #f8f8ff;
}

.billing__history-more-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-base);
  font-weight: 600;
  text-decoration: underline;
  color: var(--primary-color);
}

/* Payment methods */

.billing__methods-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--space-4);
}

.billing__methods-image {
  border-radius: var(--radius-md);
  border: 1px solid #cbcbd9;
  padding: var(--space-3);
  background-color: var(--white);
}

.billing__methods-item-text {
  font-size: var(--font-base);
  font-weight: 500;
}

.billing__methods-item-remove-btn {
  margin-left: auto;
}

/* Left side */
.billing__plan {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
  border-radius: var(--radius-lg);
  padding: var(--space-6);
  background-color: var(--primary-darker);
  color: var(--white);
}
.billing__plan-renew,
.billing__plan-title {
  font-size: var(--font-base);
}

.billing__plan-type {
  font-size: var(--font-lg);
  font-weight: 700;
}

.billing__plan-cancel-btn {
  transition: transform 0.1s;
  border-radius: var(--radius-md);
  border: 1px solid var(--white);
  padding: var(--space-2) var(--space-4);
  background-color: transparent;
  cursor: pointer;
  color: var(--white);
}

.billing__plan-cancel-btn:active {
  transform: scale(0.95);
}

@media (width <= 1300px) {
  .billing__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
  }

  .billing__plan {
    max-width: 30rem;
  }
}
