@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

@layer utilities {
  .highlight {
    @apply font-bold scale-105 translate-x-2 text-shadow-md text-shadow-slate-700;
  }

  .fade-in-image {
    animation-name: fade-in-image;
    animation-duration: 1.5s;
  }

  .fade-in-text {
    animation-name: fade-in-text;
    animation-duration: 1.5s;
  }

  @keyframes fade-in-image {
    from {
      transform: translateY(-10px);
      opacity: 0.1;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-text {
    from {
      transform: translateX(30px);
      opacity: 0.1;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
