/* Variables */
:root {
  /* Typography scale */
  --font-xs: 1.2rem; /* 12px */
  --font-sm: 1.4rem; /* 14px */
  --font-base: 1.6rem; /* 16px */
  --font-md: 2rem; /* 20px */
  --font-lg: 2.5rem; /* 25px */
  --font-xl: 3.2rem; /* 32px */
  --font-2xl: 4rem; /* 40px */
  --font-3xl: 5rem; /* 50px */
  --font-4xl: 6.4rem; /* 64px */

  --font-5xl: 8rem; /* 80px */
  --font-6xl: 10rem; /* 100px */

  /* Spacing scale */
  --space-1: 0.4rem; /* 4px  */
  --space-2: 0.8rem; /* 8px  */
  --space-3: 1.2rem; /* 12px */
  --space-4: 1.6rem; /* 16px */
  --space-5: 2.4rem; /* 24px */
  --space-6: 3.2rem; /* 32px */
  --space-7: 4.8rem; /* 48px */
  --space-8: 6.4rem; /* 64px */
  --space-9: 9.6rem; /* 96px */
}

/* General */
body {
  margin: var(--space-2);
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-base);
}

/* Utilities */
.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 var(--space-4);
}

/* Main-header styles */
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-8) var(--space-4);
}

.main-header__logo-heading {
  font-size: var(--font-xl);
  font-weight: 700;
}

.main-header__nav-list {
  display: flex;
  align-items: center;
  gap: var(--space-7);
}

.main-header__icon,
.main-header__mobile-icon {
  width: 2.4rem;
  aspect-ratio: 1 / 1;
}

.main-header__link:hover,
.main-header__mobile-link:hover {
  text-decoration: underline;
}

/* Mobile main-header navigation */
.main-header__mobile-nav {
  display: none;
  z-index: 2;
}

.main-header__mobile-list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-5);
  transition: transform 0.3s;
  transform: translateX(100%);
  padding: 0 var(--space-4);
  height: 100dvh;
  background-color: #fff;
}

.main-header__mobile-list--active {
  transform: translateX(0);
}

.main-header__hamburger {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: var(--space-3);
  cursor: pointer;
}

.main-header__hamburger-bar {
  transition:
    opacity 0.3s,
    transform 0.3s;
  border-radius: 10px;
  width: 36px;
  height: 4px;
  background-color: #000;
}

.main-header__hamburger--active .main-header__hamburger-bar--1 {
  transform: rotate(45deg) translate(4px, 10px);
}

.main-header__hamburger--active .main-header__hamburger-bar--2 {
  opacity: 0;
  transform: scale(0);
}

.main-header__hamburger--active .main-header__hamburger-bar--3 {
  transform: rotate(-45deg) translate(4px, -10px);
}

/* Gallery styling */
.gallery__list {
  display: grid;
  grid-template-areas:
    'eth eth alphabet'
    'eth eth traveler'
    'astro cube traveler'
    'astro cube traveler'
    'cup insta insta'
    'cup insta insta'
    'foam foam dimensional';
  grid-gap: var(--space-4);
}

.gallery__list-item {
  position: relative;
}

.gallery__list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__list-item::after {
  content: 'View project';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.15s;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--font-xl);
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
}

.gallery__list-item:hover::after {
  opacity: 1;
}

.gallery__list-item--eth {
  grid-area: eth;
}

.gallery__list-item--alphabet {
  grid-area: alphabet;
}

.gallery__list-item--traveler {
  grid-area: traveler;
}

.gallery__list-item--astro {
  grid-area: astro;
}

.gallery__list-item--cube {
  grid-area: cube;
}

.gallery__list-item--cup {
  grid-area: cup;
}

.gallery__list-item--insta {
  grid-area: insta;
}

.gallery__list-item--foam {
  grid-area: foam;
}

.gallery__list-item--dimensional {
  grid-area: dimensional;
}

/* Main footer */
.main-footer {
  padding: var(--space-8);
}
.main-footer__author {
  text-align: center;
}

@media (width <= 1100px) {
  .container {
    max-width: 100%;
  }

  .gallery__list {
    grid-template-areas:
      'eth eth'
      'alphabet traveler'
      'astro cube'
      'insta insta'
      'cup foam'
      'dimensional dimensional';
  }
}

@media (width <= 768px) {
  main {
    padding-top: var(--space-9);
  }

  .main-header__wrapper {
    padding: var(--space-6) var(--space-4);
  }

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
  }

  .main-header__mobile-nav {
    display: block;
  }

  .main-header__nav {
    display: none;
  }

  .gallery__list-item::after {
    font-size: var(--font-lg);
  }

  .gallery__list {
    grid-template-areas:
      'eth eth'
      'alphabet alphabet'
      'traveler traveler'
      'astro cube'
      'insta insta'
      'cup cup'
      'foam foam'
      'dimensional dimensional';
  }

  .main-footer {
    position: relative;
    z-index: 3;
    padding: var(--space-5) 0;
  }
}
